/* 宽屏 1000px 以上 */
@media screen and (min-width: 1000px) {
  #app {
    width: 80%;
    margin: auto;
    padding: 50px;
  }
}

/* 窄屏 1000px 以下 */
@media screen and (max-width: 1000px) {
  #app {
    width: 100%;
    margin: auto;
    padding: 10px;
  }
}
