 a{text-decoration:none;}
#myInput {
  background-image: url('/searchicon.png'); /* 添加搜索按钮 */
  background-position: 10px 12px; /* 定位搜索按钮 */
  background-repeat: no-repeat; /* 图片不重复 */
  width: 100%; /* 全屏幕显示 */
  font-size: 16px; /* 字体大小 */
  padding: 12px 20px 12px 40px; /* 设置内边距 */
  border: 1px solid #ddd; /* 添加灰色边框 */
  margin-bottom: 12px; /* 添加顶部的外边距 */
}
    #myTable {
  border-collapse: collapse; /* 折叠边框 */
  width: 100%; /* 全屏幕显示 */
  border: 1px solid #ddd; /* 设置灰色边框 */
  font-size: 18px; /* 字体大小 */
}
#myTable th, #myTable td {
  text-align: left; /* 文本靠左对齐 */
  padding: 12px; /* 设置内边距 */
}
#myTable tr {
  /* 每一行设置底部边框*/
  border-bottom: 1px solid #ddd;
}
#myTable tr.header, #myTable tr:hover {
  /* 表格头部设置背景 */
  background-color: #f1f1f1;
}
