.menus {

    a,
    a:hover {
        color: black;
    }

    .menu {
        width: 120px;
        height: 3em;
        line-height: 3em;
        margin: 1em;
        padding: 0;
        cursor: pointer;
        transition: all 0.5s;

        text-align: center;
        box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.25);

        &:hover {
            box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
        }

    }
}